{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block content %}
<link rel="stylesheet" href="http://garuda.pythonanywhere.com/stuff/web-invoice/style.css">
<h1 class="mt-2">{{ data.invoicee_name }}</h1>
<hr class="mt-0 mb-4">
<a href="/{{ data.id }}/edit">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/{{ data.id }}/delete">Delete</a>
<header>         
    
    
        <table class="meta">
            <tr>
                <th>Invoice #:&nbsp;</th>
                <td>{{ data.invoice_num }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ data.invoice_date | date }}</td>
            </tr>
            

        </table>
</header>
<article>
    <h1>Recipient</h1>
    {{ data.invoicee_name.email_id }}
    <h5><b>Attention</b>: <span contenteditable>Ranga</span></h5>
    <p>{{ data.vendor_name }}</p>
    {{ data.vendor_name.v_address }}
    <address>
        <table class="details">
        <thead>
            <tr>
                <th><span>PO Number</span></th>
                <th><span>Client</span></th>
                <th><span>Location</span></th>
                <th><span>Duration</span></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ data.po_number }}</td>
                <td>{{ data.client_name }}</span></td>
                <td>{{ data.client_loc }}</td>
                <td><span contenteditable>7-9, 12-14, 19-23 of August, 2019</span></td>
            </tr>
        </tbody>
    </table>
    </address>
    
    <table class="inventory">
        <thead>
            <tr>
                <th><span>Service</span></th>
                <th><span>Rate per Day</span></th>
                <th><span>No. of Days</span></th>
                <th><span>Price</span></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ data.service }}</td>
                <td><span data-prefix>₹</span>{{ data.unt_price }}</td>
                <td>{{ data.n_days }}</td>
                <td><span data-prefix>₹</span>{{ data.total_price_no_tax }}</td>
            </tr>
        </tbody>
    </table>
    
    <table class="balance">
        <tr>
            <th><span>IGST</span></th>
            <td><span data-prefix>₹</span>{{ data.gst }}</td>
        </tr>
        <tr>
            <th><span>Cab Expenses</span></th>
            <td><span data-prefix>₹</span>{{ data.cab_price }}</td>
        </tr>
        <tr>
            <th><span>Total Amount</span></th>
            <td><span data-prefix>₹</span>{{ data.grand_total }}</td>
        </tr>
    </table>
</article>
<aside>
    <h1><span>Payment Information</span></h1>
<div>
    <table class="accounts">
        <tr>
            <th><span>Account Holder Name</span></th>
            <td><input id="secondName"></td>
            <th><span>Bank</span></th>
            <td><input id="bankName"></td>
        </tr>
        <tr>
            <th><span>Account #</span></th>
            <td><input id="ac"></td>
            <th><span>Branch</span></th>
            <td><input id="branch"></td>
        </tr>
        <tr>
            <th><span>IFSC</span></th>
            <td><input id="ifsc"></td>
            <th><span>PAN</span></th>
            <td><input id="pan"></td>
        </tr>
    </table>
</div>
</aside>
{% endblock %}