<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ object.invoicee_name }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<h1>{{ object.invoicee_name }}</h1>
<a href="/{{ object.id }}/edit">Edit</a>
<a href="/{{ object.id }}/delete">Delete</a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Invoice Number</th>
                <th scope="col">Client</th>
                <th scope="col">Invoice Date</th>
                <th scope="col">Service Provided</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Number of Days</th>
                <th scope="col">Cab Price</th>
                <th scope="col">Total Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ object.invoice_num }}</td>
                <td>{{ object.client_name }}</td>
                <td>{{ object.invoice_date | date }}</td>
                <td>{{ object.service }}</td>
                <td>{{ object.unt_price }}</td>
                <td>{{ object.n_days }}</td>
                <td>{{ object.cab_price }}</td>
                <td>{{ object.total_price }}</td>
            </tr>
        </tbody>
        
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>